h1, h2 {
    text-align: center;
}

#containter {
    width: 80%;
    height: 100%;
    margin: 10 50 10 50;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid #000000;
    width: 550px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  #navbar li { display: inline; }
  #navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  #navbar a:hover {
    background-color: #d1dbeb;
  }